
html {
  color:rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.img404 {
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center;
  height: 400px;
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  background: #1a50e3;
  border-radius: 1.5em;
  font-size: 1.2em;
  font-weight: 400;
}

.circular-btn:hover {
  background-color: #274494;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  margin: 2px 0;
}